@charset "UTF-8";
.footer-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.footer {
  background-color: #fff;
  width: 100%;
  font-family: Poppins;
  color: #666666;
  overflow: hidden;
}
.footer a {
  color: var(--FONT-SECONDARY, #666);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
  text-decoration: none;
}

.form-group {
  /* padding: 4rem; */
  text-align: center;
  justify-content: center;
}
.form-group p {
  /* justify-content: start; */
  display: flex;
  /* text-align: start; */
  color: var(--FONT-SECONDARY, #666);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-bottom: 1rem;
}

#email {
  padding: 19px;
  width: 15rem;
}

.deneme {
  justify-content: center;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.col-lg-2 {
  border-right: 1px solid #ddd;
}
@media (max-width: 991px) {
  .col-lg-2 {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}

.list-unstyle {
  list-style-type: none;
  padding-left: 0;
}

.header {
  position: relative;
  overflow: hidden;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.text-span {
  font-size: small;
  background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-span1 {
  background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-h1 {
  font-weight: bolder;
}

.positinon-img-one {
  position: absolute;
  top: 140px;
  width: 25px;
  right: 42%;
}

.positinon-img-two {
  position: absolute;
  top: 0;
  width: 22px;
  right: 21%;
  animation-name: ball;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes ball {
  0% {
    top: 400px;
  }
  50% {
    top: 415px;
  }
  100% {
    top: 400px;
  }
}
#cornerBlurTwo {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: rgb(149, 28, 113);
  filter: blur(200px);
}

.header-star {
  position: absolute;
  left: 35%;
  animation: spin 1s linear infinite;
}

.btn-full {
  background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
  color: white;
}

.btn-outline {
  background-color: transparent;
  border-color: #468EF9;
  color: #468EF9;
}

.btn-custom {
  border-radius: 40px;
}

@media (max-width: 768px) {
  .button-five {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto !important;
  }
  .section-four-text {
    text-align: center;
  }
  .buy .d-flex.column-gap-3 {
    justify-content: center;
  }
  .buy .second-input {
    width: 100% !important;
  }
  .buy .first-input {
    width: 180px !important;
  }
  .buy .btn.btn-primary {
    width: 100% !important;
  }
  .header-text {
    text-align: center !important;
  }
  .header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header-buttons .header-buttonsa {
    margin-bottom: 2rem;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .button-five {
    flex-direction: column;
  }
  .section-four-img {
    margin-right: 0 !important;
    width: 100%;
  }
  .pace-table td,
  .pace-table th {
    padding: 5px !important;
  }
  .primary-section {
    margin-left: 0 !important;
  }
  .section-eight img,
  .five-image {
    width: 100% !important;
    margin-left: -39px !important;
  }
  .seven-img-one,
  .seven-img-two {
    display: none;
  }
  .header-star {
    position: absolute;
    top: 20%;
    left: 5%;
  }
  .header-buttonsa {
    width: 100%;
    padding: 12px;
  }
  .header-buttonsb {
    width: 100%;
    padding: 12px;
  }
  .primary-section-row {
    padding: 4rem;
    flex-direction: column;
  }
  .table-responsive {
    padding: 1px;
  }
  .footer-text-one {
    display: flex;
    text-align: start;
  }
  .footer-text-two {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: start;
  }
  .page-large-button {
    width: 29rem !important;
  }
  .page-input-one input {
    width: 17rem !important;
  }
  .page-big-form {
    -moz-column-gap: 33px !important;
         column-gap: 33px !important;
  }
}
@media (max-width: 992px) {
  .positinon-img-two {
    display: none !important;
  }
  .five-image {
    margin-left: -75px;
    width: 500px !important;
  }
  .seven-img-one {
    position: absolute;
    left: 26% !important;
  }
  .secondry-list li {
    padding-right: 0 !important;
    justify-content: end !important;
    display: flex !important;
    align-items: end !important;
  }
}
.pace-table {
  width: 30%;
}
.pace-table td, .pace-table th {
  padding: 20px;
}
.pace-table th {
  text-align: center;
}

.page-table-image {
  display: flex;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.primary-section {
  margin-top: 2rem;
}

.table-writing {
  color: #468EF9;
}

.page-twoİmg {
  width: 500px;
}

.primary-section {
  background-color: white;
  transform: translateY(-50px);
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 3rem;
  margin-top: 9rem;
}

#cornerBlur {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  background-color: rgb(28, 80, 149);
  filter: blur(200px);
}

.start-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-form h2 {
  font-weight: bolder;
  font-size: 2rem;
}

.page-form p {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.page-input-one input {
  width: 22rem;
  height: 3rem;
  border-radius: 1rem;
  text-align: end;
  border: solid var(--GRA-Blue2, #3984F4);
}

.page-input-one input::-moz-placeholder {
  padding: 2rem;
  text-align: start;
  color: #3984F4;
}

.page-input-one input::placeholder {
  padding: 2rem;
  text-align: start;
  color: #3984F4;
}

.page-input-two select {
  width: 11rem;
  height: 3rem;
  border-radius: 1rem;
  text-align: end;
  border: solid var(--GRA-Blue2, #3984F4);
  text-align: center !important;
}

.page-input-two input::-moz-placeholder {
  padding: 2rem;
  text-align: start;
  color: #3984F4;
}

.page-input-two input::placeholder {
  padding: 2rem;
  text-align: start;
  color: #3984F4;
}

.page-large-button {
  width: 37rem;
  margin-top: 2rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: large;
}

********************************** .amount {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--GRA-Blue, linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 1px solid #3984F4;
  height: 45px;
  padding-right: 20px;
}

.amount-box {
  align-items: center;
  padding: 0 20px;
  display: flex;
  border: 1px solid var(--GRA-Blue2, #3984F4);
  background: #fff;
  border-radius: 22px;
}

.first-input {
  outline: 0 !important;
  border: none;
  margin-left: 30px;
  width: 250px;
  height: 80px;
  flex-shrink: 0;
  text-align: right;
}

.second-input {
  width: 150px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 22px;
  border: 1px solid var(--GRA-Blue2, #3984F4);
}

.get-box {
  padding-left: 31px;
}

.page-form img {
  width: 470px;
}

.buy-button {
  width: 90%;
  padding: 12px;
}

.table-order {
  transform: translateY(-50px);
}

.radius-table {
  padding-top: 35px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 2rem !important;
  border: 2px solid #eaeaea;
}

.radius-table .table {
  --bs-table-bg: transparent !important;
}

.first-table-div {
  border-right: 1px solid #eaeaea;
  padding-right: 30px !important;
}

.second-table-div {
  border-right: 1px solid #eaeaea;
  padding-right: 30px !important;
}

.third-table-div {
  padding-right: 30px !important;
}

.form-container {
  position: relative;
  padding: 15px 20px;
  width: 400px;
  justify-content: space-between;
  gap: 10px;
}

.form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #3984f4, #0cd3ff, #2f7cf0, #0e65e8);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: destination-out;
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.line {
  height: 20px;
  border-left: 1px solid #3e66b7;
  margin: 0 10px;
}

.currency {
  font-weight: normal;
}

.pls-x {
  color: red;
  font-size: 20px !important;
  font-weight: 2rem !important;
}

.pls {
  color: rgb(97, 225, 97);
  font-weight: 30px !important;
  font-size: 20px !important;
}

.section-three {
  margin-top: 8rem;
}

.side-picture {
  width: 15rem;
}

.pages-three-img {
  background-color: #F0F1F2;
  border-radius: 27px;
  padding: 3rem;
}

.section-four {
  margin-top: 5rem;
}

.img-flex {
  display: flex;
  align-items: center;
  justify-content: start;
}

.section-four-img {
  margin-right: 40px;
}

.text-span-one {
  background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-four-button {
  width: 100%;
}

.section-four-text p {
  margin: 0;
}

.section-five {
  margin-top: 9rem;
}

.text-span-two {
  background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-five- {
  width: 11rem;
  height: 4rem;
  border-radius: 1rem;
  border: solid var(--GRA-Blue2, #3984F4);
}

.five-image {
  margin-right: 10px;
  width: 565px;
}

.section-six {
  margin-top: 5rem;
}

.section-sixİmg {
  width: 500px;
}

.section-seven {
  margin-top: 5rem;
  position: relative;
}
.section-seven .seven-img-one {
  position: absolute;
  bottom: 0;
  top: 35%;
  left: 30%;
}
.section-seven .seven-img-two {
  position: absolute;
  bottom: 0;
  top: 35%;
  left: 58%;
}

.section-seven img {
  width: 150px;
  margin-top: 3rem;
}

.section-eight img {
  width: 565px;
  margin-top: 8rem;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */