@use"../../abstracts/mixins" as m;
@use "../../abstracts/variables" as vari;

.page-form h2 {

    @include m.start-title;
}

.page-form p {
    @include m.p;
}


.page-input-one input{
    @include m.big-input;
   
}
.page-input-one input::placeholder{
    @include m.placeholders;
}

.page-input-two select{
    @include m.center-input;
    text-align: center !important;
}
.page-input-two input::placeholder{
    @include m.placeholders;

}
.page-large-button{
    @include m.large-buttons;
}


**********************************
.amount {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--GRA-Blue, linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 1px solid #3984F4;
    height: 45px;
    padding-right: 20px;
}

.amount-box {
    align-items: center;
    padding: 0 20px;
    display: flex;
    border: 1px solid var(--GRA-Blue2, #3984F4);
    background: #fff;
    border-radius: 22px;
    
}

.first-input {
    outline: 0 !important;
    border: none;
    margin-left: 30px;
    width: 250px;
    height: 80px;
    flex-shrink: 0;
    text-align: right;
}

.second-input {
    width: 150px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid var(--GRA-Blue2, #3984F4);
}

.get-box{
    padding-left: 31px;
}

.page-form img{
    width: 470px;
}
.buy-button{
    width: 90%;
    padding: 12px;
}

.table-order {
    transform: translateY(-50px);
  }
  .radius-table {
    padding-top: 35px;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding-left: 2rem !important;
    border: 2px solid #eaeaea;
  }
  .radius-table .table {
    --bs-table-bg: transparent !important;
  }
 
  
  .first-table-div {
    border-right: 1px solid #eaeaea;
    padding-right: 30px !important;
  }
  .second-table-div {
    border-right: 1px solid #eaeaea;
    padding-right: 30px !important;
  }
  .third-table-div {
    padding-right: 30px !important;
  }
  
  .form-container {
    position: relative;
    padding: 15px 20px;
    width: 400px;
    justify-content: space-between;
    gap: 10px;
  }
  
  .form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    border: 2px solid transparent;
    background: linear-gradient(45deg, #3984f4, #0cd3ff, #2f7cf0, #0e65e8);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: destination-out;
    mask-composite: exclude;
  }
  
  .line {
    height: 20px;
    border-left: 1px solid #3e66b7;
    margin: 0 10px;
  }
  
  .currency {
    font-weight: normal;
  }
  .pls-x {
    color: red;
    font-size: 20px !important;
    font-weight: 2rem !important;
  }
  .pls {
    color: rgb(97, 225, 97);
    font-weight: 30px !important;
    font-size: 20px !important;
  }