@use "../../abstracts/mixins" as m;

.section-four{
    margin-top: 5rem;
}
.img-flex{
    display: flex;
    align-items: center;
    justify-content: start;

}

.section-four-img{
    margin-right: 40px;
}
.text-span-one{
    @include m.span
}
.section-four-button{
   width: 100%;
}