@use"../../abstracts/mixins" as m;
@use "../../abstracts/variables" as vari;

.section-three{
    margin-top: 8rem;
    
}
.side-picture{
    width: 15rem;
}
.pages-three-img{
    background-color: #F0F1F2;
    border-radius: 27px;
    padding: 3rem;
}