@use "../../abstracts/mixins" as m;

.section-five{
    margin-top: 9rem;
}

.text-span-two{
    @include m.span
}
.button-five-{
    @include m.small-button
}
.five-image{
   margin-right: 10px;
    width: 565px;
}