@media (max-width:768px){
    .button-five{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto !important;
       
    }
    .section-four-text{
      
        text-align: center;
       
    }
    .buy{
        .d-flex.column-gap-3{
            justify-content: center;
        }
        .second-input{
            width: 100% !important;
        }
        .first-input{
            width: 180px !important;
        }

        .btn.btn-primary{
            width: 100% !important;
        }
    }
    .header-text{
        text-align: center !important;
    }
    .header-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        .header-buttonsa{
            margin-bottom: 2rem;
        }
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .button-five{
        flex-direction: column;
    }
    .section-four-img{margin-right: 0 !important; width: 100%;}
    .pace-table td, .pace-table th {
        padding: 5px !important;
    }
    .primary-section{
        margin-left: 0 !important;
    }
    .section-eight img,.five-image{width: 100% !important;}
   
    .seven-img-one,.seven-img-two{
        display: none;
    }
    .header-star{
        position: absolute;
        top: 10%;
        left: 5%;

    }
    .header-buttonsa{
        width: 100%;
        padding: 12px;
  }
  .header-buttonsb{
    width: 100%;
    padding: 12px;
}
}

